:root {
  --secondary-color: #6b5539;
  --ternary-color: #aca59d;
}

/* Navbar */
nav {
  background-color: white;
  height: 70px;
  padding: 0 !important;
  color: var(--secondary-color) !important;
  border-bottom: 2px solid var(--secondary-color);
}

nav .custom-font {
  font-family: "Dancing Script", cursive !important;
  color: var(--secondary-color);
  margin-top: 7px;
}

nav .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .navbar-brand img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

nav .navbar-brand h4 {
  margin-bottom: 15px;
}

nav .navbar-brand::after {
  display: none;
}

nav .navbar-collapse {
  transition: 1s !important;
}

nav .navbar-toggler {
  border: 1px solid var(--secondary-color) !important;
  outline: 0 !important;
}

nav .navbar-toggler i {
  color: var(--secondary-color) !important;
}

nav .navbar-toggler:focus {
  box-shadow: none !important;
}

nav ul i,
nav ul a,
nav ul span {
  cursor: pointer;
  transition: all 0.9s !important;
  margin-right: 15px;
  color: var(--ternary-color) !important;
}

nav ul i:hover,
nav ul a:hover,
nav ul span:hover {
  color: var(--secondary-color) !important;
}

nav ul i {
  font-size: 18px;
}

nav ul a {
  font-weight: 700 !important;
  padding-bottom: 5px !important;
  position: relative;
}

nav ul a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  bottom: 0;
  left: 0;
  transition: width 0.5s ease;
}

nav ul a:hover::after {
  width: 90%;
}

a.active {
  color: var(--secondary-color) !important;
}

a.active::after {
  width: 90%;
}

.fav-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.fav-link i {
  font-size: 19px;
}

@media (max-width: 990px) {
  .navbar-collapse {
    position: absolute;
    top: 70px;
    left: 0;
    transform: translateX(-250px);
    padding: 20px !important;
    width: 250px;
    height: 100vh;
    background-color: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition:
      transform 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    border-right: 2px solid var(--secondary-color);
  }

  .navbar-collapse ul li {
    margin-bottom: 20px !important;
  }

  .navbar-collapse.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}


/* Slider */
.slide-container img {
  max-width: 100%;
}

.caption {
  position: absolute;
  top: 50%;
  left: 8rem;
  z-index: 9;
  transform: translateY(-50%);
  opacity: 0;
  transition:
    500ms ease opacity,
    500ms ease transform;
  transform: translateY(60px);
}

.caption.current-caption {
  transition-delay: 1000ms;
  opacity: 1;
  transform: translateY(0);
}

.caption.previous-caption {
  transform: translateY(-60px);
}

.caption .caption-heading {
  text-align: left;
  transition: 500ms ease-in all;
}

.caption .caption-heading h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  text-indent: -0.2rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  color: white !important;
}

.caption .caption-subhead {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white !important;
  letter-spacing: 4px;
  word-spacing: 0.1rem;
  margin-bottom: 2.5rem;
  display: block;
}

.caption a.btn {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  background-color: white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  position: relative;
  z-index: 9;
  transition:
    250ms ease-in background-color,
    500ms ease-in color;
}

.caption a.btn:hover {
  background-color: var(--secondary-color);
  color: white;
}

.slide-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.left-col,
.right-col {
  width: 100%;
  box-sizing: border-box;
  height: calc(100% - 4rem);
  overflow: hidden;
}

.left-col {
  background-size: cover;
  background-postion: center top;
  overflow: hidden;
  margin: 2rem;
  position: relative;
}

.left-col .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: left top !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  opacity: 0;
  transition:
    1000ms cubic-bezier(1, 0.04, 0.355, 1) transform,
    1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55) clip-path;
  transform: translateY(-100%);
  scale: 1;
  z-index: -1;
}

.left-col .slide.previous {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
  animation-delay: 1s;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: 3s ease transform;
  will-change: transform;
}

.left-col .slide.previous.change {
  transform: translateY(50%);
}

.left-col .slide.next {
  transform: translateY(-100%);
  z-index: 3;
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

.left-col .slide.current {
  opacity: 1;
  transform: translateY(0) scale(1.25);
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.right-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-col .preview {
  max-width: 400px;
}

.slide-nav {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  overflow: hidden;
}

.slide-nav a {
  color: #fafafa;
  font-size: 3rem;
  text-shadow: 1px 1px 4px var(--secondary-color);
}

.slide-nav:hover .slide-up,
.slide-nav:hover .slide-down {
  opacity: 0.5;
  transform: translateX(0);
}

.slide-nav .slide-up,
.slide-nav .slide-down {
  display: block;
  position: absolute;
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transition:
    0.25s ease opacity,
    0.25s ease transform;
  z-index: 99;
}

.slide-nav .slide-up:hover,
.slide-nav .slide-down:hover {
  opacity: 1;
}

.slide-nav .slide-up a,
.slide-nav .slide-down a {
  text-decoration: none;
  font-weight: 300 !important;
}

.slide-nav .slide-up {
  top: 50%;
  left: 0;
  transform: translateX(-100%);
}

.slide-nav .slide-down {
  top: 50%;
  right: 0;
  transform: translateX(100%);
}

@media (max-width: 768px) {
  .caption {
    left: 2rem;
    width: 80%;
  }

  .caption .caption-heading {
    text-align: center;
  }

  .caption .caption-subhead {
    text-align: center;
  }

  .caption .caption-heading h1 {
    font-size: 2rem;
  }

  .caption .caption-subhead {
    font-size: 0.85rem;
    letter-spacing: 1.5px;
  }

  .caption a.btn {
    font-size: 0.75rem;
    padding: 0.3rem 0.7rem;
  }

  .left-col {
    margin: 1rem;
  }

  .slide-nav a {
    font-size: 2rem;
  }

}

/* header css */
.five h1 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: var(--secondary-color);
  text-transform: uppercase;
  word-spacing: 1px;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
}

.five h1:before {
  position: absolute;
  left: 50%;
  top: 90%;
  width: 60px;
  height: 4px;
  content: "";
  margin-left: -30px;
  background-color: var(--ternary-color);
  margin-bottom: 20px;
}

.five span {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: normal;
  font-family: "Playfair Display", "Bookman", serif;
  color: var(--secondary-color);
  letter-spacing: 5px;
  word-spacing: 1px;
  margin-top: 10px;
}


/* product cards */
.product-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 0 10px;
  text-align: center;
  padding: 15px;
}

.product-card h5 , .product-card p {
  color: var(--secondary-color);
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.heart {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: white;
}

.shop-cart {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  color: white;
  transition: transform 0.3s;
}

.shop-cart:hover,
.heart:hover {
  transform: scale(1.1);
}

/* Footer Style */
.footer {
  background-color:var(--secondary-color);
}

.social-media {
  padding: 20px;
  background-color: var(--ternary-color);
}

.social-media .left {
  margin-right: 20px;
}

.social-media .right a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.social-media .right a:hover {
  color: #ddd;
}

.links-section {
  padding: 40px 0;
}

.footer-cont {
  flex-wrap: wrap;
}

.column {
  flex: 1;
  margin: 0 15px;
}

.column h6 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.column hr {
  width: 80px;
  background-color: var(--ternary-color);
  height: 3px;
  margin: 10px auto;
  opacity: 1;
}

.column p {
  margin: 0 0 10px;
}

.footer-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footer-link:hover {
  color: #ddd;
}

.footer-copyright {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
}

@media (max-width: 767px) {
  .social-media {
    flex-direction: column;
    text-align: center;
  }

  .footer-cont {
    flex-direction: column;
    align-items: center;
  }

  .column {
    margin-bottom: 20px;
  }
}

#wishlist{
  margin-top:3%;
    min-height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}
